body {
    background: skyblue;
    color: #fff;
    font-size: 30px;
    line-height: 1;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 12px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel .btn {
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    background: cadetblue;
    border: none;
    width: 48px;
    height: 48px;
    border-radius: 12px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.panel .btn.disabled {
    opacity: .5;
}

.panel .count {
    display: inline-block;
    margin: 0 15px;
    width: 100px;
    text-align: center;
}